.footer-wrapper{
height: 750px;
flex-shrink: 0;
background: #000;
padding: 79px;
text-align: left;

}

.button{
    border-radius: 5px;
border: 1.143px solid var(--Misc-White, #FFF);
opacity: 0.3;
background: var(--Misc-Black, #000);
display: flex;
width: 184px;
/* max-width: 184px; */
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-left: 8px;


color: #FFF;

font-family: Simplon Norm;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.search {
width: 384px;
height: 39px;
}

.row{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
}

.footer-heading{
    color: var(--Misc-White, #FFF);
    font-family: Simplon Norm;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer-content{
    color: var(--Misc-White, #FFF);
font-family: Simplon Norm;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* width: 584px; */
}


/* css for row -2 */

/* p{
    color: var(--Misc-White, #FFF);
font-family: Simplon Norm;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
list-style: none;
} */

.follow{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.pay-mode{
    width: 56px;
height: 35px;
margin-right: 8px;
}

.child-1{
    display: grid;
    /* max-width: 60%; */
    grid-column: 1/8;
}

.child-2{
    /* max-width: 40%; */
    grid-column: 8/12;
}
.about{
    grid-column: 1/6;
}
.faqs{
    grid-column: 6/12;
}

.search-box{
    display: flex;
}


.usd{
    position: relative;
    top: -6px;
    left: 5px;
}

hr{
    width: 100%;
    margin-bottom: 80px;
}

.transaction-info{
    color: var(--Misc-White, #FFF);
font-family: Simplon Norm;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.follow-us{
    border-radius: 50%;
    border: 2px solid white;
    height: 32px;
    width: 32px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    
}